.selectCharacter {
  display: inline-block;
  width: 210px;
  height: 40px;
  line-height: 40px;
  color: grey;
  font-size: 10px;
  border: 1px solid grey;
  padding-left: 10px;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  margin-bottom: 20px;
}

.selectCharacterListEntries {
  position: absolute;
  display: none;
  border: 1px solid grey;
  border-top: none;
  width: 100%;
  margin-left: -10px;
  box-sizing: border-box;
  background-color: #111111;
  border-radius: 2px;
  height: 150px;
  overflow: auto;
  z-index: 500;
}

.selectCharacter .downArrow {
  position: absolute;
  right: 10px;
  top: 5px;
}

.selectCharacter .downArrow:hover {
  cursor: pointer;
}

.selectCharacterListEntries hr {
  height: 1px;
  border: 0;
  color: white;
  margin-left: -10px;
  background-color: #333;
}

.selectCharacterEntry {
  height: 30px;
  line-height: 20px;
  padding: 5px 0px 5px 10px;
  box-sizing: border-box;
}

.selectCharacterEntry:hover {
  cursor: pointer;
  background: black;
}
